<script type="text/ng-template" id="header.html">
    <div class="header">
        <div class="hide" ng-transclude></div>

        <div class="container">
            <!--<span class="logo">GACA-EO</span>-->

            <div class="visible-xs header-menu-icon" ng-click="header.toggleSidebar()"><i class="fa fa-bars"></i></div>

            <span class="pull-right"><img src="{{header.imageUrl}}" ui-sref="home" alt="" style="height: 65px;margin-top: -30px"></span>

            <div class="header-menu hidden-xs">
                <div class="menu-item"
                     ng-repeat="page in header.getPages() track by $index"
                     ng-click="header.clickMenuItem($index);"
                     ng-class="{active:header.isCurrentPage(page.url)}"
                >{{page.name}} <span ng-show="page.sub">&nbsp; <i class="fa fa-caret-down"></i></span>

                    <div class="sub-menu" ng-class="{active:page.active}">
                        <a class="sub-menu-item"
                             ng-repeat="sub in page.sub track by $index"
                             href="{{sub.url}}"
                        >{{sub.name}}</a>

                    </div>
                </div>
            </div>

            <div class="butn pull-right">English &nbsp; <i class="fa fa-angle-down"></i></div>
        </div>

        <div class="menu-sidebar" ng-class="{active:header.showSidebar()}">
            <div class="sidebar-header">
                <div class="container">
                    <div class="visible-xs header-menu-icon" ng-click="header.toggleSidebar()"><i class="fa fa-times"></i></div>
                    <div class="pull-right visible-xs">Menu</div>
                </div>
            </div>

            <div class="sidebar-item"
                 ng-repeat="page in header.getPages()"
                 ng-click="header.setPage(page.url);header.toggleSidebar()"
                 ng-class="{active:header.isCurrentPage(page.url)}"
            >{{page.name}}</div>

        </div>


    </div>
</script>