<script type="text/ng-template" id="contact-screen.html">
    <div screen="contact">

        <!-- one way pass values to component -->
        <hero-item
                imgs="['public/img/lounges/11.jpg']"
                heading="Get In Touch"
        ></hero-item>

        <block-item img="public/img/lounges/12.jpg" dark="true">
            <content>
                <h1>Contact Us</h1>

                <p>
                    To contact the Executive Office with specific questions please fill out the attached form and it will be forwarded to a designated member of staff to answer your questions.
                </p>
            </content>
        </block-item>

        <contact-item></contact-item>

        <foot-item></foot-item>


    </div>
</script>