<script type="text/ng-template" id="lounge-list.html">

    <div class="container">
        <div style="height: 40px;"></div>
        <h2><a href="">{{loungeList.name}} &nbsp;  <i class="fa fa-angle-down"></i></a></h2>
    </div>

    <div class="lounge-list">

        <div class="hide"ng-transclude></div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6" ng-repeat="lounge in loungeList.getLounges() track by $index">
                    <div class="lounge">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lounge-image" style="background-image: url('{{lounge.img}}')">
                                    <!--<div class="butn">{{lounge.name}}</div>-->
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="lounge-text">
                                    <h2>{{lounge.name}}</h2>
                                    <div class="block-content" ng-transclude=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</script>