<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<base href="/">-->

    <title>GACA Executive Office</title>
    <title><%= title %></title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,100,100italic,200,200italic,300,300italic,600,400italic,600italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,600,400italic,600italic,700italic,700|Catamaran:400,100,200,300,500,600,700,800,900|Lato:400,100,900italic,700italic,900,400italic,700,300italic,300,100italic|Playfair+Display:400,400italic,700,900italic,900,700italic' rel='stylesheet' type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body data-ng-app="app">

<header-item lang-text="German" lang-url="/dfsdfd">
    <menu-item name="Home" url="#/"></menu-item>
    <menu-item name="Services">
        <sub-item name="Serve" url="#/our-services"></sub-item>
        <sub-item name="Serve 2" url="#/our-services-2"></sub-item>
    </menu-item>
    <menu-item name="Lounges" url="#/lounges"></menu-item>
    <menu-item name="Mission & Vision" url="#/mission"></menu-item>
    <menu-item name="Contact" url="#/contact"></menu-item>
</header-item>

<!-- screen contents -->
<div ui-view></div>


<script type="text/ng-template" id="block.html">
    <div class="block" ng-class="{dark:block.dark}">

        <div class="block-image-holder hidden-xs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-5" ng-class="{'pull-right':block.reverse}"></div>
                    <div class="col-sm-6 col-md-7" ng-style="{'pull-right':block.reverse}">
                        <div class="row">
                            <div class="block-image" style="background-image: url('{{block.img}}')">
                                <div class="img-overlay"></div>
                                <div class="butn" ng-show="block.btnText">{{block.btnText}} &nbsp;
                                    <i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4" ng-class="{'pull-right':block.reverse}">
                    <div class="block-content" ng-transclude="content"></div>
                </div>
            </div>
        </div>

        <div class="block-image visible-xs" style="min-height:300px;background-image: url('{{block.img}}')">
            <div class="img-overlay"></div>
            <div class="butn" ng-show="block.btnText">{{block.btnText}} &nbsp; <i class="fa fa-angle-down"></i></div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="contact.html">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-sm-7">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName3" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName3" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Question</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputPassword3" rows="8"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="butn" style="margin: 0;display: inline-block">Submit &nbsp; <i class="fa fa-check"></i></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-5">
                    <div class="contact-items">
                        <p>
                            <i class="fa fa-phone fa-fw"></i> &nbsp; {{contact.phoneNumber}}
                        </p>
                        <p>
                            <i class="fa fa-envelope fa-fw"></i> &nbsp; {{contact.helpEmail}}
                        </p>
                        <p>
                            <i class="fa fa-comment fa-fw"></i> &nbsp; {{contact.feedbackEmail}}
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="content.html">
    <div class="content">
        <div class="container">
            <div ng-transclude="content"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="featured.html">
    <div class="featured">

        <div class="hide" ng-transclude></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4" ng-repeat="item in featured.getFeaturedItems()">
                    <div class="row">
                        <div class="featured-image"
                             style="background-image: url('{{item.image}}')">
                            <div class="img-overlay"></div>

                            <div class="butn">{{item.title}}</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="foot-item.html">
    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="foot-logo" style="">
                        <img src="{{foot.imageUrl}}" alt="" style="height: 65px">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="foot-header">EO Lounges</div>
                    <div class="foot-item">Cloud Nine Lounge</div>
                    <div class="foot-item">Marhaba Lounge</div>
                    <div class="foot-item">Marhaba</div>
                </div>
                <div class="col-sm-4">
                    <div class="foot-header">About EO</div>
                    <div class="foot-item">CROWN</div>
                    <div class="foot-item">Aldhabi Longe</div>
                    <div class="foot-item">Dilmun Lounge</div>
                </div>
                <div class="col-sm-4">
                    <div class="foot-header">Contact</div>
                    <div class="foot-item">Cedar Lounge</div>
                    <div class="foot-item">Plaza Premium Lounge</div>
                    <div class="foot-item">GVK Lounge</div>
                </div>
            </div>
        </div>


    </div>
    <div class="underfoot">
        <div class="container">
            Copyright &copy; 2016 &nbsp;<a href="#"> GACA Executive Office</a>
        </div>

    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div class="header">
        <div class="hide" ng-transclude></div>

        <div class="container">
            <!--<span class="logo">GACA-EO</span>-->

            <div class="visible-xs header-menu-icon" ng-click="header.toggleSidebar()"><i class="fa fa-bars"></i></div>

            <span class="pull-right"><img src="{{header.imageUrl}}" ui-sref="home" alt="" style="height: 65px;margin-top: -30px"></span>

            <div class="header-menu hidden-xs">
                <div class="menu-item"
                     ng-repeat="page in header.getPages() track by $index"
                     ng-click="header.clickMenuItem($index);"
                     ng-class="{active:header.isCurrentPage(page.url)}"
                >{{page.name}} <span ng-show="page.sub">&nbsp; <i class="fa fa-caret-down"></i></span>

                    <div class="sub-menu" ng-class="{active:page.active}">
                        <a class="sub-menu-item"
                             ng-repeat="sub in page.sub track by $index"
                             href="{{sub.url}}"
                        >{{sub.name}}</a>

                    </div>
                </div>
            </div>

            <a class="butn pull-right" href="{{header.langUrl}}">{{header.langText}}</a>
        </div>

        <div class="menu-sidebar" ng-class="{active:header.showSidebar()}">
            <div class="sidebar-header">
                <div class="container">
                    <div class="visible-xs header-menu-icon" ng-click="header.toggleSidebar()"><i class="fa fa-times"></i></div>
                    <div class="pull-right visible-xs">Menu</div>
                </div>
            </div>

            <div class="sidebar-item"
                 ng-repeat="page in header.getPages()"
                 ng-click="header.setPage(page.url);header.toggleSidebar()"
                 ng-class="{active:header.isCurrentPage(page.url)}"
            >{{page.name}}</div>

        </div>


    </div>
</script>
<script type="text/ng-template" id="lounge-list.html">

    <div class="lounge-list">

        <div class="container">
            <!--<div style="height: 40px;"></div>-->
            <!--<h2>{{loungeList.name}} &nbsp; <i class="fa fa-angle-down"></i></h2>-->

            <div class="select-type">
                <div class="lounge-types" ng-class="{visible:loungeList.isSelectVisible()}" ng-click="loungeList.setSelectVisible(false)">
                    <div class="lounge-type"
                         ng-repeat="type in loungeList.getTypes()"
                         ng-click="loungeList.setType($index)"
                         ng-bind="type + ' Lounges'"
                    ></div>
                </div>
                <div class="current-type"
                     ng-click="loungeList.setSelectVisible(!loungeList.isSelectVisible())"
                >
                    {{loungeList.getType()}} Lounges &nbsp; <i class="fa fa-caret-down"></i>
                </div>
            </div>


        </div>

        <div class="hide" ng-transclude></div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6" ng-if="loungeList.getType()" ng-repeat="lounge in loungeList.getLounges() | filter:loungeList.getType()">
                    <div class="lounge">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lounge-image" style="background-image: url('{{lounge.img}}')">
                                    <!--<div class="butn">{{lounge.name}}</div>-->
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="lounge-text">
                                    <h2>{{lounge.name}} {{lounge.type}}</h2>
                                    <div class="block-content" ng-bind-html="lounge.content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</script>
<script type="text/ng-template" id="hero.html">
    <div class="hero">
        <div class="hero-banner" ng-style="{height:hero.height}">
            <div class="banner-img"
                 ng-repeat="img in hero.getImages() track by $index"
                 ng-class="{active:hero.isCurrentImage($index), 'animate-hero':hero.animate}"
                 style="background-image: url('{{img}}')"
            ></div>
            <div class="banner-overlay">
                <div ng-bind-html="hero.getHeading()"></div>

                <a class="butn" ng-show="hero.linkText" ng-href="{{hero.linkUrl}}">{{hero.linkText}}</a>

            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="contact-screen.html">
    <div screen="contact">

        <!-- one way pass values to component -->
        <hero-item
                imgs="['public/img/lounges/11.jpg']"
                heading="Get In Touch"
        ></hero-item>

        <block-item img="public/img/lounges/12.jpg" dark="true">
            <content>
                <h1>Contact Us</h1>

                <p>
                    To contact the Executive Office with specific questions please fill out the attached form and it will be forwarded to a designated member of staff to answer your questions.
                </p>
            </content>
        </block-item>

        <contact-item></contact-item>

        <foot-item></foot-item>


    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <!-- one way pass values to component -->
        <!--img="http://www.woodsbagot.com/wp-content/uploads/2013/08/Qantas_Singapore_N21_hero.jpg"-->
        <hero-item
                animate="true"
                imgs="['public/img/lounges/1.jpg', 'public/img/lounges/2.jpg', 'public/img/lounges/3.jpg', 'public/img/lounges/4.jpg']"
                heading="Discover luxurious lounges <br>with all services included"
                link-text="Our Lounges"
                link-url="#/lounges"
        ></hero-item>

        <block-item
                img="public/img/lounges/5.jpg"
        >
            <content>
                <h1>World class lounges</h1>

                <p>
                    EO lounges have been an established destination for first-class and business travellers for over 30 years.
                </p>

                <p>
                    Our lounges provide the best areas for passengers to sit-back and relax, with free Wi-Fi, gourmet food and state of the art ergonomics.
                </p>
            </content>
        </block-item>

        <featured-item></featured-item>

        <foot-item></foot-item>

    </div>
</script>
<script type="text/ng-template" id="lounges-screen.html">
    <div screen="lounges">


        <hero-item
                imgs="['http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME']"
                heading="Our Lounges"
        ></hero-item>


        <!--<div class="container">-->
            <!--<div style="height: 40px;"></div>-->
            <!--<h2><a href="">International Lounges &nbsp;  <i class="fa fa-angle-down"></i></a></h2>-->
        <!--</div>-->


        <lounge-list-item types="['International', 'Regional', 'Local']">
            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Lounge"
                    content="hello"
                    type="International"
            ></lounge-item>

            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Regional Lounge 2"
                    content="hello 2"
                    type="Regional"
            ></lounge-item>

            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Lounge"
                    content="hello"
                    type="International"
            ></lounge-item>

            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Lounge"
                    content="hello"
                    type="International"
            ></lounge-item>

            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Regional Lounge 2"
                    content="hello 2"
                    type="Regional"
            ></lounge-item>
        </lounge-list-item>

        <div style="height: 50px;"></div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="mission-screen.html">
    <div screen="mission">

        <!-- one way pass values to component -->
        <hero-item
                imgs="['public/img/lounges/airport.jpg']"
                heading="Mission & Vision"
        ></hero-item>

        <block-item img="public/img/lounges/12.jpg">
            <content>
                <h1>Planned & Executed</h1>

                <p>
                    The VIP Lounge aims to make the planning and execution of your event as easy and stress free as possible. Our experienced and dedicated events coordinators will guide you through every step of planning your event, from designing your event theme to choosing menus and putting the finishing flourishes to your plans.
                </p>
                <p>
                    Every one of our clients has a distinct vision for their big day and we will work with you combining your dreams with our ideas and years of experience in executing stunning and flawless events.
                </p>
            </content>
        </block-item>

        <foot-item></foot-item>


    </div>
</script>
<script type="text/ng-template" id="our-services-screen.html">
    <div screen="our-services">


        <hero-item
                imgs="['public/img/lounges/6.jpg']"
                heading="Our Services"
        ></hero-item>


        <!--<div class="container">-->
        <!--<div style="height: 40px;"></div>-->
        <!--<h2><a href="">International Lounges &nbsp;  <i class="fa fa-angle-down"></i></a></h2>-->
        <!--</div>-->


        <!--<lounge-list-item></lounge-list-item>-->

        <block-item
                img="public/img/lounges/vip.jpg"
        >
            <content>
                <h1>Priority Immigration Services</h1>

                <p>
                    EO lounges have been an established destination for first-class and business travellers for over 30 years.
                </p>
            </content>
        </block-item>

        <block-item
                img="public/img/lounges/mac.jpg"
                reverse="true"
        >
            <content>
                <h1>WiFi</h1>

                <p>
                    Our lounges provide the best areas for passengers to sit-back and relax, with free Wi-Fi, gourmet food and state of the art ergonomics.
                </p>
            </content>
        </block-item>

        <block-item
                img="public/img/lounges/7.jpg"
        >
            <content>
                <h1>Comfort Seating</h1>

                <p>
                    EO lounges have been an established destination for first-class and business travellers for over 30 years.
                </p>
            </content>
        </block-item>

        <!--<div style="height: 50px;"></div>-->

        <foot-item></foot-item>
    </div>
</script>
<script src="public/lib.js"></script>
<script src="public/app.js"></script>

</body>
</html>