<script type="text/ng-template" id="featured.html">
    <div class="featured">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="featured-image"
                             style="background-image: url('public/img/lounges/13.jpg')">
                            <div class="img-overlay"></div>

                            <div class="butn">King Abdulaziz</div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="featured-image"
                             style="background-image: url('public/img/lounges/11.jpg')">
                            <div class="img-overlay"></div>

                            <div class="butn">Jeddah</div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="featured-image"
                             style="background-image: url('public/img/lounges/7.jpg')">
                            <div class="img-overlay"></div>

                            <div class="butn">King Fahd</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>