<script type="text/ng-template" id="featured.html">
    <div class="featured">

        <div class="hide" ng-transclude></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4" ng-repeat="item in featured.getFeaturedItems()">
                    <div class="row">
                        <div class="featured-image"
                             style="background-image: url('{{item.image}}')">
                            <div class="img-overlay"></div>

                            <div class="butn">{{item.title}}</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>