<script type="text/ng-template" id="foot-item.html">
    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="foot-logo" style="">
                        <img src="{{foot.imageUrl}}" alt="" style="height: 65px">
                    </div>
                </div>
                <div ng-transclude></div>

            </div>
        </div>


    </div>
    <div class="underfoot">
        <div class="container">
            Copyright &copy; 2016 &nbsp;<a href="#"> GACA Executive Office</a>
        </div>

    </div>
</script>