<script type="text/ng-template" id="foot-item.html">
    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="foot-logo" style="">
                        <img src="{{foot.imageUrl}}" alt="" style="height: 65px">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="foot-header">EO Lounges</div>
                    <div class="foot-item">Cloud Nine Lounge</div>
                    <div class="foot-item">Marhaba Lounge</div>
                    <div class="foot-item">Marhaba</div>
                </div>
                <div class="col-sm-4">
                    <div class="foot-header">About EO</div>
                    <div class="foot-item">CROWN</div>
                    <div class="foot-item">Aldhabi Longe</div>
                    <div class="foot-item">Dilmun Lounge</div>
                </div>
                <div class="col-sm-4">
                    <div class="foot-header">Contact</div>
                    <div class="foot-item">Cedar Lounge</div>
                    <div class="foot-item">Plaza Premium Lounge</div>
                    <div class="foot-item">GVK Lounge</div>
                </div>
            </div>
        </div>


    </div>
    <div class="underfoot">
        <div class="container">
            Copyright &copy; 2016 &nbsp;<a href="#"> GACA Executive Office</a>
        </div>

    </div>
</script>