<script type="text/ng-template" id="block.html">
    <div class="block" ng-class="{dark:block.dark}">

        <div class="block-image-holder hidden-xs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-5" ng-class="{'pull-right':block.reverse}"></div>
                    <div class="col-sm-6 col-md-7" ng-style="{'pull-right':block.reverse}">
                        <div class="row">
                            <div class="block-image" style="background-image: url('{{block.img}}')">
                                <div class="img-overlay"></div>
                                <div class="butn" ng-show="block.btnText">{{block.btnText}} &nbsp;
                                    <i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4" ng-class="{'pull-right':block.reverse}">
                    <div class="block-content" ng-transclude="content"></div>
                </div>
            </div>
        </div>

        <div class="block-image visible-xs" style="min-height:300px;background-image: url('{{block.img}}')">
            <div class="img-overlay"></div>
            <div class="butn" ng-show="block.btnText">{{block.btnText}} &nbsp; <i class="fa fa-angle-down"></i></div>
        </div>


    </div>
</script>